

    <div class="container">
        <!--Burger Title & Image-->
        <h1 class="text-center">Hairy Dan's Burgers</h1>
        <div class="row">
            <div class="col-4 mx-auto text-center">
                <img src="/assets/img/burger_logo.png" class="img-fluid" height="200px" width="200px">
            </div>
        </div>
        <!--End ofBurger Title & Image-->
        </br>

        <!--Burger Form-->
        <div class="row">
            <div class="col-6 mx-auto text-center">
                <p class="text-center">Burger Name</p>
                <textarea class="form-control text-center" rows="2" id="burger-entry" placeholder="Enter Burger Here!"></textarea>
                </br>
                <button id="submit-burger" class="btn btn-success">Submit</button>
            </div>
        </div>
        <!--End of Burger Form-->
</div>
<br>
<br>

<div class="container">
    <!--Burger Menu-->
    <h2 class="text-center">Burger's on Dan's Hairy Menu!</h2>
    <hr>
    <div class="row">
        <p>Burger's Not Eaten</p>
        <div class="col4 mx-auto text-center" id="burger-not-eaten-container">
            
            {{!-- <div class="burger-not-eaten burgers text-center px-2">
                <p>[id] [burger name]</p>
                <button class="btn btn-primary">Eat Me</button>
            </div> --}}
        </div>   
        <p>Burger's Eaten</p> 
        <div class="col4 mx-auto text-center px-2" id="burger-eaten-container">
            
            {{!-- <div class="burger-eaten burgers">
                <p>[id] [burger name]</p>
            </div> --}}
        </div>
            
    </div>
</div>


      





     

   

















